#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

footer div#copy p {
	font-weight: bold;
}

@media (min-width: 320px) and (max-width: 820px) {
	#texth1 {font-size: 2em;}}